{% extends "scholar/base.html" %}
{% load staticfiles %}
{% block content %}
            <div class=' row'>
                <div class='col-xs-12 card'>
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ scholar.name }}</div>
                        <div class="panel-body" style='height: 300px;overflow:auto;padding: 0 15px;margin: 10px 0;'>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <!-- <img class="media-object" src={{ scholar.photourl }} alt="头像"> -->
					    <div style='background-image: url({{ scholar.photourl }})'></div>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                          <a href="#">{{ scholar.name }}</a>
					  <!--<a href="#">{{ scholar.name }} {% for item in collect %}{{ item.name }}{% endfor %} </a> -->
                                        </h4>
                                        <ul class="introduction user-info">
                                            <li style='background-image: url("{% static "img/name.jpg" %}")'>{{ scholar.position }}</li>
                                            <li style='background-image: url("{% static "img/addr.png" %}")'>{{ scholar.affiliation }}</li>
                                            <li style='background-image: url("{% static "img/phone.jpg" %}")'></li>
                                            <li style='background-image: url("{% static "img/email.jpg" %}")'>{{ scholar.email }}</li>
                                            <li style='background-image: url("{% static "img/url.jpg" %}")'>{{ scholar.homepage }}</li>
                                            <li style='background-image: url("{% static "img/education.jpg" %}")'>
                                             {{ scholar.graduateschool }}
                                            </li>
                                        </ul>
					{% if user.is_authenticated %}
                                        <div class="personcoll_btn" style="float: left;margin-top: 3px">
                                             <a data-toggle="modal" data-target="#personfolkscoll" name={{scholar.id}}>
                                                 <span class="fa fa-star-o" style="font-size: 20px;color: #FF944D;"></span>
                                             </a>
                                        </div>
					{% endif %}
                                        <ul class="person_label" style="float: left;margin-left: 10px; width: 640px;overflow: 
                                                    auto" id="person_label_list" >
                                            {% for item in user.collection_set.filter %}
                                                {% if scholar in item.scholar.all %}
                                           <li style="float: left;margin-right: 30px;margin-top: 5px">
                                                <div style="height: 20px;;position: relative;;text-align: center;line-height: 20px">
                                                    <span style="color: white;display: block;;padding:0 15px;height: 20px;position: relative;z-index: 3;background: #FF944D;overflow: hidden;text-overflow: ellipsis;">{{ item.name}}</span>
                                                    <i class="fa fa-close" style="display: block;margin: 0 auto;background: #FF6600;padding:3px 5px ;color:white ;position: absolute;left: 30px;z-index: 1;top: 0" pname={{scholar.id}} iname={{item.id}}
                                                    ></i>
                                                       <div style="clear: both;"></div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
		<!--
                <div class='col-xs-4 card'>
                    <div class="panel panel-default">
                        <div class="panel-heading">学术指标</div>
                        <div class="panel-body" style='height: 300px;overflow:auto;padding: 0 15px;margin: 10px 0;'>
                            Coming soon
                        </div>
                    </div>
                </div>
		-->
                <div class='col-xs-6 card'>

                    <div class='col-xs-12 card' style="padding: 0 0px 10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                个人标签
                                <!-- <span class='save'>添加</span> -->
                            </div>
                            <div class="panel-body user-tag" style='height: 90px;overflow:auto;padding: 10px 15px 0;margin: 10px 0;'>
			        {% for item in scholar.tag_set.all %}
                                    <span class='col-xs-3 col'><span class='tag'>
					<a href="{%url 'scholar:tag_search' item %}">{{ item }}</a>
				    </span></span>
				{% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class='col-xs-12 card' style="padding: 0 0px 10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                研究兴趣
                                <!-- <span class='save'>添加</span> -->
                            </div>
			    <div class="panel-body user-tag" style='height: 200px;overflow:auto;padding: 10px 15px 0;margin: 10px 0;'>
                                    <svg id="main" style="width: 100%;height:100%;"></svg>                                    
                            </div>

                        </div>
                    </div>

                </div>

                <div class='col-xs-6 card'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            学术指标
                            <!-- <span class='save'>添加</span> -->
                        </div>
			<div class="panel-body user-tag" style='height: 360px;overflow:auto;padding: 0 15px 0;margin: 10px 0;'>
                                <div id="main2" style="width: 100%;height:100%;"></div>                                    
                        </div>

                    </div>
                </div>
                
                <div class='col-xs-12 card'>
                    <div class='myTab'>
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#paper" data-toggle="tab">
                                        paper
                                </a>
                            </li>
                            <li><a href="#report" data-toggle="tab">report</a></li>
                            <li><a href="#patent" data-toggle="tab">patent</a></li>
                        </ul>
                    	
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="paper">
                                <table class="table table-striped">
                                    <tbody>
					{% for item in scholar.paper_set.all%}
                                        <tr>
                                            <td width='10%'>
                                                <span style='font-size: 24px;'>{{ forloop.revcounter }}</span>
                                            </td>
                                            <td width='40%'>
                                                {{ item.info_json.title }}
                                            </td>
                                            <td width='40%'>
                                                <p style='color: #9fb0ff'>
                                                    <!--Jing Gao, Qi Li, <span style='color:#5574ff'>Bo Zhao</span>, Wei Fan, <span style='color: #ff6367'>Jiawei Han</span>-->
						    {% for author in item.info_json.authors %}
							{{ author.name }} ;
						    {% endfor %}
                                                </p>
                                            </td>
                                            <td width='10%'>
                                                <p style='color: #888991'>
						    {{ item.info_json.venue.name }}({{ item.info_json.year }})
						</p>
                                            </td>
                                        </tr>
					{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="report">
                                <p>内容</p>
                            </div>
                            <div class="tab-pane fade" id="patent">
                                <p>内容</p>
                            </div>
                        </div>
                    </div>
                </div>
		
            </div>
        </div>
        <script>
        function initEchar(result) {
            var svg = d3.select("svg")
        var width = 520
        var height = 200
        var data = result
	console.log(data)
        var chart;
        nv.addGraph(function () {
            chart = nv.models.stackedAreaChart()
                .useInteractiveGuideline(true)
                .x(function (d) { return d[0] })
                .y(function (d) { return d[1] })
                .showYAxis(false)
                .style('stream-center')
                .interpolate('basis')

            chart.xAxis.tickFormat(d3.format('.0f'));
            d3.select('#main')
                .datum(data.interests.slice(0, 5))
                .transition()
                .call(chart)
            nv.utils.windowResize(chart.update);
            return chart;
            });
        }

        function initEchar2(data) {
            var myChart = echarts.init(document.getElementById('main2'));

            option = {
                tooltip: {},
                //legend: {
                    //data: ['normalize'],
                //},
                grid: {
                    top: '20',
                    containLabel: true,
                },
                radar: {
                    // shape: 'circle',
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                       }
                  },
                    indicator: (function () {
                        let indicator = [];
                        data.axis.forEach(function(r, i){
                            indicator.push({
                                name: r,
                                max: 1,
                            });
                        });
                        return indicator;
                    })(),
                },
                series: [{
                    name: '',
                    type: 'radar',
                    areaStyle: {normal: { color: 'green'}},
                    data : [
                        {
                            value : data.normalize[0],
                            name : 'normalize'
                        }
                    ]
              }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }



        $.ajax({
	    url:"{% url 'scholar:scholar_statistics_json' scholar.id %}",
            //url:"https://api.aminer.org/api/person/indices/{{ scholar.guid }}",
            success:function(result){
                initEchar2(result)
            }
        });

	$.ajax({
                url:"{% url 'scholar:scholar_focus_json' scholar.id %}",
	        //url:"https://api.aminer.org/api/person/interests/{{ scholar.guid }}",
                success:function(result){
                    initEchar(result);
                }
        });

	</script>
{% endblock %}
